/* SNS Link */
.social-media-wrap {
  background-color: var(--bgc-sns);
  display: none;
  padding-right: 10px;
}


.social-media {
  display: flex;
  font-size: 16px;
  padding: 5px 0px;

  >li {
    padding: 5px;
    text-align: center;

    &:hover {
      box-shadow: 1px 3px 0px 0px var(--shadow-primary);
    }

    &:first-of-type {
      border-right: 1px solid var(--border-primary);

    }
  }

  a {
    color: var(--link-sns);
    padding: 0 10px;
  }

  img {
    vertical-align: top;
  }

}
