@forward "../abstracts";
@use "../abstracts/fonts" as font;

/* base styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 1px solid lightgreen;
}

body {
  font-family: font.$base-font;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}