.tabList > header li > a {
  display: block;
  text-decoration: none;
}

.aaa {
  text-decoration: none;
  display: block;
  font-size: 24px;
}

.bbb {
  text-decoration: none;
  display: block;
}

.ccc {
  text-decoration: none;
  display: block;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aa {
  padding: 24px;
}

.bb {
  padding: 10px;
}

.cc {
  padding: 30px;
}

.tabList > header > ul {
  list-style: none;
  font-size: 0px;
}

.tabList > header li {
  display: inline-block;
  width: 16.66667%;
  font-style: 16px;
}

.tabList > header li > a {
  width: 100%;
  height: 20px;
  line-height: 20px;
}

.tabList > div {
  color: red;
}
