/* 定寬容器 : 一般不會拿來作為 flex */
/* -grid-gap 為自訂屬性，有Scope的限制，.container 以下的子元素都能存取到 --grid-gap，
.container 以上的父容器則無法存取。 若是html 以下的元件都需要存取到自訂屬性，那麼就直接將自訂屬性寫在 html selector 之中，:root 選取器也就是html的根 = html
*/
.container {
  --grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-left: var(--grid-gap);
  padding-right:  var(--grid-gap);
  outline: 1px solid aqua;

}

/* 會建立一個 row class 來負責 flex 操作 
   折分欄、換列使用
*/
/* 用 calc 計算負值  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gap) * -1);
  margin-left: calc(var(--grid-gap) * -1);
  outline: 1px solid lightcoral;
}

/* [class*="col-"] {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
} */

/* IE 不支援 自訂屬性寫法 */
[class*="col-"] {
  box-sizing: border-box;
  padding-left: var(--grid-gap);
  padding-right: var(--grid-gap);
  margin-bottom: 20px;
  outline: 1px solid royalblue;
} 


/* 格線寬度都採用百分比 */
.col-1 {  width: 8.3333%;}
.col-2 {  width: 16.666666%;}
.col-3 {  width: 25%;}
.col-4 {  width: 33.333333%;}
.col-5 {  width: 41.666666%;}
.col-6 {  width: 50%;}
.col-7 {  width: 58.333333%;}
.col-8 {  width: 66.666666%;}
.col-9 {  width: 75%;}
.col-10 {  width: 83.333333%;}
.col-11 {  width: 91.666666%;}
.col-12 {  width: 100%;}


@media screen and (min-width: 768px){
  .col-md-1 {  width: 8.3333%;}
  .col-md-2 {  width: 16.666666%;}
  .col-md-3 {  width: 25%;}
  .col-md-4 {  width: 33.333333%;}
  .col-md-5 {  width: 41.666666%;}
  .col-md-6 {  width: 50%;}
  .col-md-7 {  width: 58.333333%;}
  .col-md-8 {  width: 66.666666%;}
  .col-md-9 {  width: 75%;}
  .col-md-10 {  width: 83.333333%;}
  .col-md-11 {  width: 91.666666%;}
  .col-md-12 {  width: 100%;}
}

@media screen and (min-width: 1024px){
  .col-lg-1 {  width: 8.3333%;}
  .col-lg-2 {  width: 16.666666%;}
  .col-lg-3 {  width: 25%;}
  .col-lg-4 {  width: 33.333333%;}
  .col-lg-5 {  width: 41.666666%;}
  .col-lg-6 {  width: 50%;}
  .col-lg-7 {  width: 58.333333%;}
  .col-lg-8 {  width: 66.666666%;}
  .col-lg-9 {  width: 75%;}
  .col-lg-10 {  width: 83.333333%;}
  .col-lg-11 {  width: 91.666666%;}
  .col-lg-12 {  width: 100%;}
}


@media screen and (min-width: 1200px){
  .col-xl-1 {  width: 8.3333%;}
  .col-xl-2 {  width: 16.666666%;}
  .col-xl-3 {  width: 25%;}
  .col-xl-4 {  width: 33.333333%;}
  .col-xl-5 {  width: 41.666666%;}
  .col-xl-6 {  width: 50%;}
  .col-xl-7 {  width: 58.333333%;}
  .col-xl-8 {  width: 66.666666%;}
  .col-xl-9 {  width: 75%;}
  .col-xl-10 {  width: 83.333333%;}
  .col-xl-11 {  width: 91.666666%;}
  .col-xl-12 {  width: 100%;}
}