:root {
  --bgc-primary: #01cc99;
  --bgc-banner: rgba(1, 4, 10, 0.3);
  --bgc-contact: rgba(229, 89, 149, 0.2);
  --bgc-white: #fff;
  --bgc-table: #f7f7f7;
  --bgc-sns: #f6f6f6;
  --border-primary: #d3d3d3;
  --border-secondary: #f3f3f3;
  --border-white: #fff;
  --btn-primary: #01cc99;
  --btn-secondary: #fff;
  --link-primary: #01cc99;
  --link-sns: #4460a0;
  --link-contact: #e55995;
  --shadow-primary: rgba(119, 117, 117, 0.2);
  --text-primary: #01cc99;
  --text-white: #fff;
  --text-body: #000;
}