:root {
  --background-color: #01cc99;
  --text-color: #01cc99;
  --link-color: rgba(229, 89, 149, 0.2);
  
}

$text-primary: #01cc99;
$text-secondary: #4460a0;
$text-success: #26ad88;
$text-white: #fff;
$text-body: #000;



$bg-primary: #01cc99;
$bg-secondary: #f6f6f6;
$bg-dark: rgba(1, 4, 10, 0.3);
$bg-grey: #f7f7f7;
$bg-white: #fff;
$bg-warning: rgba(229, 89, 149, 0.2);