$width: 100%;
$buttonNumber: 6;
// $baseLineHeight: 10px;




html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.aa {
  // padding: 20px;
  padding: line(2,12px);
}

.bb {
  // padding: 10px;
  padding: line(1);
  // or 不傳參數預設值為1
  // padding: line();
}

.cc {
  // padding: 30px;
  padding: line(3);
}










// nesting 比較像 wireframe 的 dom 結構
// > 會比空白鍵的 後代選取器 效能來得比較高
// 雙斜線 註解不會轉譯，適合給自己的註解  /**/ 這個會增加css大小 或是要給工程師或上線版本會需要看的註解
// SASS 適合拿來建立 工作環境與線上的差異的觀念
.tabList {
  >header {
    >ul {
      list-style: none;
      // li 使用inline-block，每一個 inline block 會多一個字元，在 ul 使用font-size:0 會消除字元間間距
      font-size: 0px;
    }
    li {
      display: inline-block;
      width: $width / $buttonNumber;
      // width: calc(100% / 6);
      font-style: 16px;
      > a {
        @extend %aButton; // 樣式和 aButton 一樣，利用繼承方式，自動將同樣樣式的選取器整理在一起，只要修改 .aButton 一份樣式，其他繼承此選取器樣式的都會跟著更改。
        width: 100%;
        height: 20px;
        line-height: 20px;
      }
    }
  }
  >div {
    color: red;
  }
}