/*
[Is it best to group similar media queries at the end of the CSS or to just keep them separated within the CSS?](
https://stackoverflow.com/questions/62047994/is-it-best-to-group-similar-media-queries-at-the-end-of-the-css-or-to-just-keep)
*/
/* base styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  /* outline: 1px solid orange; */
}

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* Main Container */
.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* Social Media */
.social-media-wrap {
  background-color: #f6f6f6;
  display: none;
  padding-right: 10px;
}


.social-media {
  display: flex;
  font-size: 16px;
  padding: 5px 0px;
}

.social-media li {
  padding: 5px;
  text-align: center;
}

.social-media li:hover {
  box-shadow: 1px 3px 0px 0px rgba(119, 117, 117, 0.2);
}

.social-media li:first-of-type {
  border-right: 1px solid #d3d3d3;
}

.social-media a {
  color: #4460a0;
  padding: 0 10px;
}

.social-media img {
  vertical-align: top;
}

/* TODO: navigation content - align */
/* header navigation */
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.nav {
  flex-grow: 1;
  margin-right: 5px;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
}


.nav ul li {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0 5px;
  position: relative;
}



.nav a {
  color: #01cc99;
  display: block;
  padding: 20px 10px;
}

.nav li::after {
  background-color: #01cc99;
  content: "";
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
  transition: width 0.5s, background-color 1s;
}

/* 首頁 - 連結 固定出現底線 */
/* .nav li:first-of-type:after {
  display: inline-block;
} */

.nav li:hover::after {
  display: inline-block;
}

/* banner & slogan */
.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  align-items: center;
  height: 155px;
}



.slogan-wrap {
  background-color: rgba(1, 4, 10, 0.3);
  color: #fff;
  flex-grow: 1;
  padding: 28px 10px;
}

.slogan {
  font-size: 22px;
  line-height: 1.4;
}



/* Curriculum Feature */
.curriculum-feature {
  padding-top: 15px;
}



.curr-feat {
  display: flex;
  flex-wrap: wrap;
}



.curr-feat-card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 1px 3px 0px 0px rgba(119, 117, 117, 0.2);
  display: block;
  margin: 15px;
  padding: 5px 10px;
  width: 100%;
}



.card-logo,
.card-description h3,
.comparison-chart h2,
.contact-us h2 {
  padding: 5px;
  text-align: center;
}



.card-logo {
  display: block;
}



/* 使用 max-width */
.card-logo img {
  vertical-align: middle;
  max-width: 250px;
}


.curr-feat-card p,
.curr-feat-card ul {
  font-size: 14px;
  line-height: 1.6;
}

.curr-feat-card ul {
  padding-left: 20px;
}

.curr-feat-card ul li {
  list-style-type: disc;
}

/* 線上及實體課程的差異 */
.comparison-chart {
  padding: 25px 0px;
}

.comparison-chart h2 {
  padding: 25px;
}

.comparison {
  margin: 0 auto;
  width: 95%;
}

.comparison thead th {
  background-color: #f7f7f7;
}

.comparison th,
.comparison td {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.comparison th {
  border-top: 1px solid lightgray;
  text-align: left;
}

.highlight {
  color: #26ad88;
}

/* Contact Us */
.contact-us {
  background-image: linear-gradient(#00644b, #009771);
  padding: 15px;
}

.contact-us h2 {
  color: #fff;
  line-height: 1.6;
  padding: 20px 0;
}

.contact-info {
  padding: 15px 5px;
}

.client-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.form-group input,
.form-group textarea,
.form-group label {
  text-align: left;
  width: 100%;
}

.form-group input,
.form-group label {
  border-radius: 2px;
  margin: 5px 0px 0px 5px;
}

.form-group label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.form-group input {
  border: none;
  font-size: 14px;
  margin: 10px 0;
  padding: 6px;
  outline: 1px solid #fff;
}

.form-group textarea {
  border-radius: 5px;
  height: 150px;
  resize: none;
  padding: 10px;
}



.submit {
  background-color: #01cc99;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 10px 3px 0 0;
  padding: 8px 20px;
  width: 100px;
}

.submit:hover {
  background-color: #fff;
  color: #01cc99;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  padding: 30px 20px;
}



.contact-hexschool a {
  color: #e55995;
  position: relative;
}

/* .contact-hexschool a:hover {
  color: #e55995;
  box-shadow: 1px 3px 0px 0px rgba(119, 117, 117, 0.2);

} */
.contact-hexschool a:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(229, 89, 149, 0.2);
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transition: width 0.5s, background-color 1s;
}

.hexschool-footer-logo {
  display: none;
}



/* Put Media Queries at the bottom of the entire code */
@media screen and (min-width: 490px) {
  .header {
    justify-content: space-between;
  }

  .nav ul {
    justify-content: flex-end;
  }

  .nav ul li {
    flex-grow: 0;
  }

  .curr-feat-card {
    display: flex;
    align-items: center;
  }

  .card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
  }

  .card-description {
    flex-grow: 1;
  }

  .card-description h3 {
    text-align: left;
  }

  .client-info {
    flex-wrap: nowrap;
  }

  .form-group {
    width: 48%;
  }

  .form-group textarea {
    height: 100%;
  }
}



@media screen and (min-width: 640px) {
  footer {
    justify-content: space-between;
  }

  .hexschool-footer-logo {
    display: block;
  }
}




@media screen and (min-width: 768px) {
  .social-media-wrap {
    display: flex;
    justify-content: end;
  }

  .banner {
    height: 345px;
  }

  .slogan {
    font-size: 36px;
  }

  .curriculum-feature {
    padding-top: 50px;
  }

  .curr-feat {
    flex-wrap: nowrap;
  }

  .curr-feat-card {
    display: block;
  }

  .card-description h3 {
    text-align: center;
  }

  .card-logo {
    width: 100%;
  }

  .card-logo img {
    width: 100%;
  }
}