/* style in common */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

:focus {
  /* outline: 1px dotted #01CC99; */
}

/* Main Container */
.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* Social Media */
.social-media-wrap {
  display: none;
  background-color: #F6F6F6;
  padding-right: 10px;
}

.social-media {
  display: inline-block;
  padding: 5px 0px;
  font-size: 16px;
}

.social-media a {
  color: #00AAEC;
  padding: 0 10px;
}

.social-media a:first-of-type {
  color: #4460A0;
  border-top: 1px solid #d3d3d3;
}

.social-media img {
  vertical-align: top;
}

/* TODO 待修改 mobile first - navigation content - align */
/* header navigation */
.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  margin-right: 5px;
  flex-grow: 1;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
}

.navigation ul li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  position: relative;
}

.navigation a {
  display: block;
  color: #01CC99;
  padding: 20px 10px;
}


.navigation li::after {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  content: "";
  height: 3px;
  background-color: #01CC99;
  transition: width .5s, background-color 1s;
}
/* 首頁 - 連結 固定出現底線 */
/* .navigation li:first-of-type:after {
  display: inline-block;
} */

.navigation li:hover::after {
  display: inline-block;
}

/* banner & slogan */
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 155px;
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.slogan-wrap {
  flex-grow: 1;
  background-color: rgba(1, 4, 10, .3);
  color: #fff;
  padding: 28px 10px;
}

.slogan {
  font-size: 22px;
  line-height: 1.4;
}

/* Curriculum Feature */
.curriculum-feature {
  padding-top: 15px;
}

.curr-feat {
  display: flex;
  flex-wrap: wrap;
}


.curr-feat-card {
  display: block;
  width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 1px 3px 0px 0px rgba(119, 117, 117, 0.2);
  margin: 15px;
  padding: 5px 10px;
}

.card-description h3 {
  padding: 10px 5px;
}

.card-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin-top: 10px;
}

.card-description {
  flex-grow: 0;
}


.card-logo {
  display: block;
}


/* 使用flex + max-width */
.card-logo img {
  max-width: 100%;
  vertical-align: middle;

}


.card-logo,
.card-description h3,
.comparison-chart h2,
.contact-us h2 {
  text-align: center;
}


.curr-feat-card p,
.curr-feat-card ul {
  line-height: 1.6;
  font-size: 14px;
}

.curr-feat-card ul {
  padding-left: 20px;
}

.curr-feat-card ul li {
  list-style-type: disc;
}

/* 線上及實體課程的差異 */
.comparison-chart {
  padding: 25px 0px;
}

.comparison-chart h2 {
  padding: 25px;
}

.comparison {
  width: 95%;
  margin: 0 auto;
}

.comparison thead th {
  background-color: #F7F7F7;
  /* background-color: #f1a1a1; */
}

.comparison th,
.comparison td {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.comparison th {
  text-align: left;
  border-top: 1px solid lightgray;
}

.highlight {
  color: #26ad88;
}

/* Contact Us */
.contact-us {
  padding: 15px;
  background-image: linear-gradient(#00644b, #009771);
}

.contact-us h2 {
  color: #fff;
  padding: 20px 0;
  line-height: 1.6;
}

.contact-info {
  padding: 15px 5px;
}

.client-info {
  display: flex;
  flex-wrap: wrap;
}

.form-group,
.form-group input,
.form-group textarea,
.form-group label {
  width: 98%;
  text-align: left;
}

.form-group input,
.form-group label {
  display: block;
  margin: 5px 0px 0px 5px;
  border-radius: 2px;
}

.form-group label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.form-group {
  margin: 0 auto;
}

.form-group input {
  font-size: 14px;
  display: inline-block;
  outline: 1px solid #fff;
  border: none;
  padding: 6px;
  margin-bottom: 10px;
}

.contact-info textarea {
  border-radius: 5px;
  resize: none;
  padding: 10px;
  height: 150px;
}

.contact-info button {
  margin: 10px 3px 0 0;
  float: right;
  border: none;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #00CC99;
  color: #fff;
}

.contact-info button:hover {
  color: #00CC99;
  background-color: #fff;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

footer a {
  color: #e55995;
}

footer div {
  line-height: 1.6;
}

.hexschool-footer-logo {
  display: none;
}



/* Media Query 480px */
@media screen and (min-width: 490px) {
  .header-wrap {
    justify-content: space-between;
  }

  .navigation ul {
    justify-content: flex-end;
  }

  .navigation ul li {
    flex-grow: 0;
  }


  .curr-feat-card {
    display: flex;
  }

  .card-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .card-description {
    flex-grow: 1;
  }

  .card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .card-description h3 {
    text-align: left;
  }

  .client-info {
    flex-wrap: nowrap;
  }

  .contact-info textarea {
    height: 100%;
  }

}


/* Media Query 640px */
@media screen and (min-width: 640px) {
  .hexschool-footer-logo {
    display: block;
  }

  footer {
    justify-content: space-between;
  }
}

/* Media Query 768px */
@media screen and (min-width: 768px) {

  .social-media-wrap {
    justify-content: end;
  }

  .banner {
    height: 345px;

  }

  .slogan {
    font-size: 36px;

  }

  .curriculum-feature {
    padding-top: 50px;
  }

  .curr-feat {
    flex-wrap: nowrap;
  }

  .curr-feat-card {
    display: block;
  }


  .card-logo {
    width: 100%;
  }

  .card-description h3 {
    text-align: center;
  }

}