/* base styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}


/* Main Container */
.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* Social Media */
.social-media-wrap {
  background-color: #F6F6F6;
  display: none;
  padding-right: 10px;
}

/* Keep Media Queries Close to Relevant Declaration Blocks */
@media screen and (min-width: 768px) {
  .social-media-wrap {
    justify-content: end;
  }
}

.social-media {
  display: inline-block;
  font-size: 16px;
  padding: 5px 0px;
}

.social-media a {
  color: #00AAEC;
  padding: 0 10px;
}

.social-media a:first-of-type {
  border-top: 1px solid #d3d3d3;
  color: #4460A0;
}

.social-media img {
  vertical-align: top;
}

/* TODO: navigation content - align */
/* header navigation */
.header-wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 490px) {
  .header-wrap {
    justify-content: space-between;
  }
}

.nav {
  flex-grow: 1;
  margin-right: 5px;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 490px) {
  .nav ul {
    justify-content: flex-end;
  }
}

.nav ul li {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0 5px;
  position: relative;
}


@media screen and (min-width: 490px) {
  .nav ul li {
    flex-grow: 0;
  }
}


.nav a {
  color: #01CC99;
  display: block;
  padding: 20px 10px;
}


.nav li::after {
  background-color: #01CC99;
  content: "";
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
  transition: width .5s, background-color 1s;
}


/* 首頁 - 連結 固定出現底線 */
/* .nav li:first-of-type:after {
  display: inline-block;
} */

.nav li:hover::after {
  display: inline-block;
}

/* banner & slogan */
.banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 155px;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 345px;
  }
}

.slogan-wrap {
  background-color: rgba(1, 4, 10, .3);
  color: #fff;
  flex-grow: 1;
  padding: 28px 10px;
}

.slogan {
  font-size: 22px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .slogan {
    font-size: 36px;
  }
}


/* Curriculum Feature */
.curriculum-feature {
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .curriculum-feature {
    padding-top: 50px;
  }
}

.curr-feat {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .curr-feat {
    flex-wrap: nowrap;
  }
}


.curr-feat-card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 1px 3px 0px 0px rgba(119, 117, 117, 0.2);
  display: block;
  margin: 15px;
  padding: 5px 10px;
  width: 100%;
}

@media screen and (min-width: 490px) {
  .curr-feat-card {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .curr-feat-card {
    display: block;
  }
}

.card-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin-top: 10px;
}

@media screen and (min-width: 490px) {
  .card-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}

.card-logo,
.card-description h3,
.comparison-chart h2,
.contact-us h2 {
  text-align: center;
}

@media screen and (min-width: 490px) {
  .card-description h3 {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .card-description h3 {
    text-align: center;
  }
}

.card-logo {
  display: block;
}

@media screen and (min-width: 490px) {
  .card-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .card-logo {
    width: 100%;
  }
}

/* 使用flex + max-width */
.card-logo img {
  max-width: 100%;
  vertical-align: middle;
}

.card-description {
  flex-grow: 0;
}

@media screen and (min-width: 490px) {
  .card-description {
    flex-grow: 1;
  }
}


.curr-feat-card p,
.curr-feat-card ul {
  font-size: 14px;
  line-height: 1.6;
}

.curr-feat-card ul {
  padding-left: 20px;
}

.curr-feat-card ul li {
  list-style-type: disc;
}



/* 線上及實體課程的差異 */
.comparison-chart {
  padding: 25px 0px;
}

.comparison-chart h2 {
  padding: 25px;
}

.comparison {
  margin: 0 auto;
  width: 95%;
}

.comparison thead th {
  background-color: #F7F7F7;
}

.comparison th,
.comparison td {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.comparison th {
  border-top: 1px solid lightgray;
  text-align: left;
}

.highlight {
  color: #26ad88;
}

/* Contact Us */
.contact-us {
  background-image: linear-gradient(#00644b, #009771);
  padding: 15px;
}

.contact-us h2 {
  color: #fff;
  line-height: 1.6;
  padding: 20px 0;
}

.contact-info {
  padding: 15px 5px;
}

.client-info {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 490px) {
  .client-info {
    flex-wrap: nowrap;
  }
}

.form-group,
.form-group input,
.form-group textarea,
.form-group label {
  text-align: left;
  width: 98%;
}

.form-group input,
.form-group label {
  border-radius: 2px;
  display: block;
  margin: 5px 0px 0px 5px;
}

.form-group label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.form-group {
  margin: 0 auto;
}

.form-group input {
  border: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 6px;
  outline: 1px solid #fff;
}

.form-group textarea {
  border-radius: 5px;
  height: 150px;
  resize: none;
  padding: 10px;
}

@media screen and (min-width: 490px) {
  .form-group textarea {
    height: 100%;
  }
}

.submit {
  background-color: #00CC99;
  border: none;
  border-radius: 3px;
  color: #fff;
  float: right;
  margin: 10px 3px 0 0;
  padding: 8px 20px;
}


.submit:hover {
  background-color: #fff;
  color: #00CC99;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

@media screen and (min-width: 640px) {
  footer {
    justify-content: space-between;
  }
}

footer a {
  color: #e55995;
}

footer div {
  line-height: 1.6;
}

.hexschool-footer-logo {
  display: none;
}

@media screen and (min-width: 640px) {
  .hexschool-footer-logo {
    display: block;
  }
}
